<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="espw, E-SPW, E - SPW, SPW, spw, e-spw, e - spw">
        <meta name="description" content="Aplikasi Jual Beli Produk PKK Online">
        <meta property="og:title" content="E - SPW">
        <meta property="og:description" content="Aplikasi Jual Beli Produk PKK Online">
        <meta property="og:type" content="website">
        <meta property="og:image" content="assets/icons/espw-colored.png">
        <link rel="shortcut icon" href="assets/icons/espw-colored.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/style/global.css">
        <link rel="stylesheet" href="assets/style/login.css">
        <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css">
        <script src="assets/script/jquery.js"></script>
        <title>E - SPW | Login</title>
    </head>
    <body>
        <div class="login-container">
            <div class="image">
                <img src="assets/images/login-image-web.png" alt="Logo">
            </div>
            <div class="login-page">
                <form method="POST" class="form">
                    <div class="login-image">
                        <img src="assets/icons/espw-colored.png" alt="Logo">
                        <!-- <h2>Masuk</h2> -->
                    </div>
                    <div class="login-form">
                        <div class="nomor-induk">
                            <label for="nomor-induk">NIP/NUPTK</label>
                            <div class="input-nomor-induk">
                                <input type="text" name="nomorInduk" id="nomorInduk" placeholder="Masukkan NIP/NUPTK" required>
                            </div>
                        </div>
                        <div class="password">
                            <label for="password">Password</label>
                            <div class="input-password">
                                <input type="password" name="password" id="password" placeholder="Masukkan password" required>
                                <i class="ph ph-eye-slash" id="show-symbol"></i>
                                <input type="checkbox" id="show">
                            </div>
                            <div class="remember-me">
                                <input type="checkbox" name="remember-me" id="remember-me" checked>
                                <label for="remember-me">Ingat saya</label>
                            </div>
                        </div>
                        <div class="submit-button">
                            <button type="submit" class="login-button">Masuk</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="assets/script/login.js"></script>
        <script>
            $(() => {
                $("#show").on("click", () => {
                    if($("#show").is(":checked")){
                        $("#password").attr("type", "text");
                        $("#show-symbol").removeClass("ph-eye-slash");
                        $("#show-symbol").addClass("ph-eye");
                    } else {
                        $("#password").attr("type", "password");
                        $("#show-symbol").removeClass("ph-eye");
                        $("#show-symbol").addClass("ph-eye-slash");
                    }
                });
            })
        </script>
    </body>
</html>