<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="espw, E-SPW, E - SPW, SPW, spw, e-spw, e - spw">
        <meta name="description" content="Aplikasi Jual Beli Produk PKK Online">
        <meta property="og:title" content="E - SPW">
        <meta property="og:description" content="Aplikasi Jual Beli Produk PKK Online">
        <meta property="og:type" content="website">
        <meta property="og:image" content="assets/icons/espw-colored.png">
        <link rel="shortcut icon" href="assets/icons/espw-colored.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/style/global.css">
        <link rel="stylesheet" href="assets/style/guru.css">
        <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css">
        <script src="assets/script/jquery.js"></script>
        <script src="assets/script/databridge.js"></script>
        <title>E - SPW | Guru PKK</title>
    </head>
    <body>
        <nav class="sidenav">
            <div class="sidenav-brand">
                <a href="/" class="sidenav-brand-image">
                    <img src="assets/icons/espw-colored.png" alt="Logo">
                    <span class="nav-title sidenav-brand-title">E - SPW</span>
                </a>
            </div>
            <div class="menu-link">
                <a class="nav-link active" href="/guru">
                    <i class="ph ph-house icon-link"></i>
                    <span class="nav-title">Beranda</span>
                </a>
                <a class="nav-link" href="/guru/kelas">
                    <i class="ph ph-chalkboard-teacher icon-link"></i>
                    <span class="nav-title">Kelas</span>
                </a>
            </div>
        </nav>
        <nav class="top-nav">
            <form method="post" class="search-form">
                <input type="text" name="search" id="search" placeholder="Telusuri kelas, kelompok, atau siswa ...">
                <i class="ph ph-magnifying-glass search-icon"></i>
            </form>
            <a href="" class="profile-button">
                <i class="ph ph-user-circle"></i>
            </a>
        </nav>
        <div class="banner">
            <div class="banner-content">
                <div class="banner-title">
                    <h1>Selamat Datang, <span class="name">Ilham</span>.</h1>
                    <p>Teknologi Informasi</p>
                </div>
                <div class="banner-image">
                    <img src="assets/images/dashboard.png" alt="Beranda">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="jumlah-kelas">
                    <div class="card-data">
                        <span>Jumlah Kelas</span>
                        <h1 id="jumlah-kelas"></h1>
                    </div>
                    <i class="ph ph-chalkboard-teacher icon-data"></i>
                </div>
                <div class="jumlah-kelompok">
                    <div class="card-data">
                        <span>Jumlah Kelompok</span>
                        <h1 id="jumlah-kelompok"></h1>
                    </div>
                    <i class="ph ph-users-three icon-data"></i>
                </div>
                <div class="jumlah-siswa">
                    <div class="card-data">
                        <span>Jumlah Siswa</span>
                        <h1 id="jumlah-siswa"></h1>
                    </div>
                    <i class="ph ph-student icon-data"></i>
                </div>
            </div>
        </div>
        <script>
            $(() => {
                const bodyWidth = window.matchMedia("(max-width: 768px)").matches;
                if(!bodyWidth){
                    $(".nav-title").removeClass("hide");
                    $(".nav-link").removeClass("nav-link-mobile");
                    $(".active").removeClass("active-mobile");
                } else {
                    $(".nav-title").addClass("hide");
                    $(".nav-link").addClass("nav-link-mobile");
                    $(".active").addClass("active-mobile");
                }

                $(window).on("resize", () => {
                    const bodyWidth = window.matchMedia("(max-width: 768px)").matches;
                    if(!bodyWidth){
                        $(".nav-title").removeClass("hide");
                        $(".nav-link").removeClass("nav-link-mobile");
                        $(".active").removeClass("active-mobile");
                    } else {
                        $(".nav-title").addClass("hide");
                        $(".nav-link").addClass("nav-link-mobile");
                        $(".active").addClass("active-mobile");
                    }
                })
            })
        </script>
    </body>
</html>