<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="espw, E-SPW, E - SPW, SPW, spw, e-spw, e - spw">
        <meta name="description" content="Aplikasi Jual Beli Produk PKK Online">
        <meta property="og:title" content="E - SPW">
        <meta property="og:description" content="Aplikasi Jual Beli Produk PKK Online">
        <meta property="og:type" content="website">
        <meta property="og:image" content="assets/icons/espw-colored.png">
        <link rel="shortcut icon" href="/assets/icons/espw-colored.png" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style/global.css">
        <link rel="stylesheet" href="/assets/style/kelas.css">
        <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css">
        <script src="/assets/script/jquery.js"></script>
        <title>E - SPW | Guru PKK</title>
    </head>
    <body>
        <nav class="sidenav">
            <div class="sidenav-brand">
                <a href="/" class="sidenav-brand-image">
                    <img src="/assets/icons/espw-colored.png" alt="Logo">
                    <span class="nav-title sidenav-brand-title">E - SPW</span>
                </a>
            </div>
            <div class="menu-link">
                <a class="nav-link" href="/guru">
                    <i class="ph ph-house icon-link"></i>
                    <span class="nav-title">Beranda</span>
                </a>
                <a class="nav-link active" href="/guru/kelas">
                    <i class="ph ph-chalkboard-teacher icon-link"></i>
                    <span class="nav-title">Kelas</span>
                </a>
            </div>
        </nav>
        <nav class="top-nav">
            <form method="post" class="search-form">
                <input type="text" name="search" id="search" placeholder="Telusuri kelas, kelompok, atau siswa ...">
                <i class="ph ph-magnifying-glass search-icon"></i>
            </form>
            <a href="" class="profile-button">
                <i class="ph ph-user-circle"></i>
            </a>
        </nav>
        <div class="container">
            <div class="head">
                <div class="head-title">
                    <h1>Kelas</h1>
                    <p>Silahkan pilih kelas yang ingin anda lihat.</p>
                </div>
                <div class="head-image">
                    <i class="ph ph-chalkboard-teacher"></i>
                </div>
            </div>
            <div class="class-list">
                <a href="/" class="class" style="border-left: .5rem solid red;">
                    <div class="class-info">
                        <div class="title-info">
                            <h1>XI TJKT 1</h1>
                            <p>Teknik Jaringan Komputer dan Telekomunikasi</p>
                        </div>
                        <div class="info">
                            <p>Jumlah Kelompok</p>
                            <h1>3</h1>
                        </div>
                    </div>
                    <div class="class-image">
                        <i class="ph ph-chalkboard-teacher"></i>
                    </div>
                </a>
                <a href="/" class="class" style="border-left: .5rem solid red;">
                    <div class="class-info">
                        <div class="title-info">
                            <h1>XI TJKT 2</h1>
                            <p>Teknik Jaringan Komputer dan Telekomunikasi</p>
                        </div>
                        <div class="info">
                            <p>Jumlah Kelompok</p>
                            <h1>3</h1>
                        </div>
                    </div>
                    <div class="class-image">
                        <i class="ph ph-chalkboard-teacher"></i>
                    </div>
                </a>
                <a href="/" class="class" style="border-left: .5rem solid rgb(126, 0, 0);">
                    <div class="class-info">
                        <div class="title-info">
                            <h1>XI PPLG</h1>
                            <p>Pengembangan Perangkat Lunak dan Gim</p>
                        </div>
                        <div class="info">
                            <p>Jumlah Kelompok</p>
                            <h1>3</h1>
                        </div>
                    </div>
                    <div class="class-image">
                        <i class="ph ph-chalkboard-teacher"></i>
                    </div>
                </a>
            </div>
        </div>
        <script src="/assets/script/guru.js"></script>
    </body>
</html>