@font-face {
    font-family: Poppins Thin;
    src: url("../fonts/Poppins-Thin.ttf");
}
@font-face {
    font-family: Poppins Light;
    src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Poppins Italic;
    src: url("../fonts/Poppins-Italic.ttf");
}
@font-face {
    font-family: Poppins Medium;
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: Poppins Semi Bold;
    src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: Poppins Bold;
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins Extra Bold;
    src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: Poppins Black;
    src: url("../fonts/Poppins-Black.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}