.link {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.rotateRight {
    background-color: #fd8d14 !important;
    transition: transform .2s ease-in-out;
    transform: rotate(45deg) translateX(3px) translateY(2px);
}

.rotateLeft {
    background-color: #fd8d14 !important;
    transition: transform .2s ease-in-out;
    transform: rotate(-45deg) translateX(3px) translateY(-2px);
}

.active {
    border-bottom: 2px solid #ffffff;
    font-weight: 900;
}

.circle {
    position: fixed !important;
    border-radius: 100%;
    background-color: #ffffff;
    opacity: 25%;
    z-index: 1;
}

.crc1 {
    width: 20rem;
    height: 20rem;
    top: 2rem;
    left: 5rem;
}

.crc2 {
    width: 10rem;
    height: 10rem;
    bottom: 5rem;
    left: 50%;
}

.crc3 {
    width: 15rem;
    height: 15rem;
    top: 3rem;
    right: 2rem;
}

.navbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-areas: "brand menu download";
    padding: 1rem 2rem 1rem 2rem;
    z-index: 999;
}

.brand {
    grid-area: brand;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brandLogo {
    width: 1.5rem;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton {
    display: none;
}

.menuButton > * {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0 3px 0;
    border-radius: 2px;
    transition: transform .2s ease-in-out;
}

.menuLink {
    display: inline-block;
}

.navLink {
    margin: 0rem 1rem 0rem 1rem;
    color: #ffffff;
}

.navLink:hover {
    font-weight: 900;
}

.download {
    grid-area: download;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.downloadButton {
    background-color: #ffffff;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 2rem;
    color: #fd8d14;
    border: 1px solid #ffffff;
    transition: background-color .25s ease-in-out;
}

.downloadButtonColored {
    background-color: #fd8d14 !important;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 2rem;
    color: #ffffff !important;
    border: 1px solid #fd8d14 !important;
    transition: background-color .25s ease-in-out;
}

.downloadButton::after {
    content: " Download";
}

.downloadButton:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
}

.downloadButtonColored:hover {
    background-color: transparent !important;
    border: 1px solid #fd8d14 !important;
    color: #fd8d14 !important;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #fd8d14;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerTitle {
    width: 40%;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.headerTitle > h1 {
    font-size: 40px;
    font-family: Poppins Bold;
}

.headerDownloadButton {
    margin-top: 2rem;
}

.headerImage > img {
    position: relative;
    height: 30rem;
    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .crc1 {
        width: 10rem;
        height: 10rem;
        top: 2rem;
        left: 2rem;
    }

    .crc2 {
        width: 5rem;
        height: 5rem;
        bottom: 5rem;
        left: 70%;
    }

    .crc3 {
        display: none;
    }

    .active {
        border-bottom: none;
    }

    .navbar {
        grid-template-areas: "menu brand download";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .downloadButton::after {
        content: "";
    }

    .headerDownloadButton::after {
        content: " Download" !important;
    }

    .menuButton {
        display: inline-block;
        position: fixed;
        z-index: 999;
    }

    .navLink {
        padding: 1rem 0 1rem 0;
        color: #fd8d14 !important;
        border-radius: 10px;
        transition: padding .25s ease-in-out, background-color .25s ease-in-out;
        border: none !important;
    }

    .navLink:hover {
        border-bottom: none;
        background-color: #fd8d14;
        color: #ffffff !important;
        padding: 1rem !important;
        border-radius: 10px;
    }

    .menuLink {
        width: 50%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem 2rem 1rem;
    }

    .brand {
        justify-content: center;
    }
    
    .menu {
        justify-content: flex-start;
    }
    
    .download {
        justify-content: flex-flex-end;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent !important;
        background-image: linear-gradient(180deg, #fd8d14, #fd8d14, rgba(255, 255, 255, 0)) !important;
    }

    .headerTitle {
        width: 80%;
        margin-bottom: 5rem;
    }

    .headerTitle > h1 {
        font-size: 30px;
    }

    .headerImage > img {
        margin-bottom: -20rem;
    }
}